{% extends 'base.html' %}

{% block title %}Login - SmartCollege{% endblock %}

{% block content %}
<h1>Login to SmartCollege</h1>
<form method="POST">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    
    <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
{% endblock %}
